/* menu */
.shop-tab-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0.5rem;
}

.shop-tab-menu::-webkit-scrollbar {
  display: none;
}

.shop-tab-menu button {
  flex: 0 0 auto;
  padding: 1rem 0.75rem 0.75rem;
  text-decoration: none;
  color: #253746;
  ;
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  white-space: nowrap;
  font-family: Arial, sans-serif;
}

.shop-tab-menu button.active {
  color: #12263a;
  border-color: #12263a;
}
.breadcrumb-section a, .breadcrumb-section span {
  margin-right: 5px;
}
.carousel-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

.carousel-items {
  display: flex;
  gap: 12px;
  padding-bottom: 6px;
  scroll-behavior: smooth;
}

.carousel-item {
  flex: 0 0 auto;
  width: 140px;
  scroll-snap-align: start;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

.btn-view-all {
  background-color: #12263a;
  color: #fff;
  font-weight: 600;
  padding: 10px 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  transition: background 0.3s;
  font-family: Arial, sans-serif;
}

.btn-view-all:hover {
  background-color: #1d3c5a;
}

.float-btn {
  position: absolute;
  right: 0;
  top: 20rem;
}

.mobile-collection-blocks {
  padding: 1rem;
  background-color: #f9f9f9;
}

.collection-blocks-heading {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
  font-family: Arial, sans-serif;
}

.collection-blocks-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collection-block {
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.collection-block-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.collection-block-title {
  font-size: 1rem;
  color: #222;
  padding-left: 1rem;
  font-weight: 500;
}

.no-image {
  width: 120px;
  height: 120px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .collection-blocks-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .collection-block {
    width: calc(33.33% - 1rem);
  }
}

.mobile-carousel-section {
  background-color: #f9f9f9 !important;
  position: relative !important;
}

.drop-down-quantity-container {
  display: block !important;
}

.collection-grid-section {
  padding: 1rem;
}

h2.collection-grid-heading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.collection-grid {
  display: grid;
  gap: 2rem;
}

.collection-image-wrapper {
  width: 100%;
}

.collection-image-wrapper img {
  display: block;
  object-fit: contain;
}

.collection-item {
  width: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
}

.collection-image {
  position: absolute;
  inset: 0;
  /* top: 0; right: 0; bottom: 0; left: 0; */
  width: 100%;
  height: 100%;
  display: block;
}
